/* General styling - apply all pages
-------------------------------------------------------------------*/
:root {
    --black-blue: #0A0D0C;
    --blue-green: #293940;
    --white-gray: #F5F5F5;
    --white: #fff;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    color: var(--black-blue);
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
main {
    padding-top: 150px;
    width:70%;
    margin: 0 auto;
    flex:1;
}
a {
    text-decoration: none;
    color: var(--black-blue);;
}

ul {
    list-style-type: none;
}

.price {
    font-weight: bold;
 }

 h1 {
    font-size: 1.95rem;
    font-weight: 400;
 }

 .back-to-top {
    display: none;
 }

 input {
    border-radius: 3px;
}

/* Header
-------------------------------------------------------------------*/

.logo-header-image {
    display: inline-block;
    height: 67px;
    width: 159px;
    padding: 20px 40px;

}

.logo-header {
    grid-column: 1 / 2;
}
nav {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;
}
nav a {
    display: inline-block;
    padding: 30px;
    margin: 10px;
}

#menu-checkbox,
.hamburger-icon {
    display: none;
}

nav a:hover,
footer a:hover,
.product-name:hover {
    text-decoration: underline;
}

header {
    background-color: var(--white-gray);
    font-weight: 300;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.current {
    font-weight: 500;
    text-decoration: underline;
}


/* Footer
-------------------------------------------------------------------*/

.logo-footer {
    height: 81px;
    width: 144px;
    padding-left: 35px;

}
footer,
footer a {
    color:var(--blue-green);
    background-color:  var(--white-gray);
    font-weight: 400;
    font-size: 0.8rem;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}
footer a {
    grid-column: 1 / 2 ;
}


footer div img {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

footer div {
    grid-column: 4 / 5;
    justify-self: end;
    padding-right: 35px;
}
.ul-left{
    grid-column: 2 / 3;
    justify-self: right;
    padding-right: 30px;

}

.ul-right {
    grid-column: 3 / 4;
}

.ul-left li,
.ul-right li {
    display: block;
}

.ul-left li:first-of-type,
.ul-right li:first-of-type
 {
    font-weight: 700;
    padding-bottom: 0.7rem;
}

.copyright {
    font-family:'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    padding-left: 40px;
}


/* Styling of homepage
-------------------------------------------------------------------*/

.welcome a,
.follow,
.contact-info {
    color: var(--black-blue);;
}
.welcome h1 {
    font-family:'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight:700;
    padding-top: 20px;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.welcome p {
    font-family:'Open Sans', sans-serif;
    font-size: 1.95rem;
    font-weight:700;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.welcome a {
    display: inline-block;
    font-size: 1.25rem;
    font-variant-caps: small-caps;
    background-color:var(--white);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.welcome {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    position: relative;
}
.welcome-buy-now {
    display: inline-block;
    grid-column: 1 / 3;
    background-image: linear-gradient(180.08deg, var(--blue-green) 0.07%, rgba(41, 57, 64, 0) 71.88%), url(../images/pictures/homepage-man-on-mountain.jpg);
    border-radius: 5px;
    width:100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}

.welcome-buy-now-cta {
    position: absolute;
    bottom: 100px;
    right: 100px;
    padding: 15px 80px;
    font-weight: 800;
}


.welcome-womens {
    background-image: url(../images/pictures/homepage-woman-in-yellow-jacket.jpg);
}

.welcome-mens {
    background-image: url(../images/pictures/homepage-man-jumping-in-the-rain.jpg);
}
.welcome-mens,
.welcome-womens {
    min-height: 550px;
    width: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.welcome-womens-mens-cta {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 40px;
}

.welcome-womens-mens-cta:hover,
.welcome-buy-now-cta:hover {
    transform: scale(1.05);
    background-color: var(--white-gray);
}

.featured h2 {
    display: inline-block;
    background-color: var(--white-gray);
    font-variant-caps: all-small-caps;
    font-size: 1.8rem;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 }


 .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    justify-items: center;
    align-items: end;
    margin-bottom: 50px;
 }

 .product img {
    background-color: var(--white-gray);
    padding: 3rem;
    height: 280px;
    width: 70%;
    object-fit: fill;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 }




/* Styling of single product page
-------------------------------------------------------------------*/
.product-page {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin-bottom: 40px;
}

.product-page h1 {
    margin-top: 0;
}

.product-page img {
    background-color: var(--white-gray);
    padding: 3rem;
    width: 70%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.product-page-content{
    padding: 0 10px 10px;
}

.product-page-content li {
    list-style:inside;
}

.size {
    color: var(--blue-green);
    margin-bottom: 20px;
}

.size select {
    margin-left:10px;
    font-size: 1.05rem;
}


/* Styling of about us page
-------------------------------------------------------------------*/
.about-up,
.about-bottom {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    position: relative;
    margin: 40px 0;
}

.about-text {
    align-self: top;
    padding: 50px;
    line-height: 21px;
    background-color: var(--white-gray);
}

.about-text h2 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 50px;
}

.about-text p {
    font-weight: 300;
}

.about-up img,
.about-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-up-citat {
    display: block;
    background-color: var(--white-gray);
    padding: 25px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    position: absolute;
    bottom: 40px;
    margin: 0 20px;
    border-radius: 5px;

}

.about-middle {
    color: var(--blue-green);
    display: block;
    padding: 40px 100px;
    text-align: center;
    font-weight: 400;
    font-size: 31.25px;
    line-height: 43px;
}


/* Styling of contac us page and checkout sucessfull
-------------------------------------------------------------------*/
.contact-main {
    background-image: url(../images/pictures/contact-man-looking-on-mountains.jpg);
}


.checkout-succesfull-body,
.contact-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.contact {
    background-color: var(--white-gray);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 40px;
    margin: 0 40px 40px;
}

.contact img {
    display: inline-block;
    padding-right: 10px;
}

.contact a,
.contact p {
    display: block;
    padding: 10px;
    margin:0;
}

.contact-info-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;
}


.contact-form label {
    display: block;
}

.contact-form input {
    width: 80%;
}

.contact-form textarea {
    width: 80%;
    min-height: 200px;
}

.follow {
    text-align: center;
}

.follow p {
    justify-self: center;
}
.social-media img {
    display: inline-block;
    text-align: center;
    padding:10px;
    padding:5px;
    margin: 5px;
}

.checkout-succesfull-body {
    background-image: url(../images/pictures/Checkout-successfull-Snowboarders.jpg);
}

.checkout-succesfull {
    background-color:var(--white-gray);
    color:var(--black-blue);
    text-align: center;
    display: block;
    padding: 30px 10px;
    margin: 300px 0;
}

/* Styling of checkout page
-------------------------------------------------------------------*/

.cta {
    text-align: center;
    color: var(--white);
    background-color: var(--blue-green);
    border-radius: 3px;
    font-size: 1.2rem;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity, .250ms, ease-in-out,
                box-shadow, .250ms, ease-in-out ;
}

.cta:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}


.checkout {
    background-color: var(--white-gray);
    color: var(--black-blue);
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-bottom: 50px;
    padding: 20px;
}


.cart {
    grid-column: 1 / 3;
}

.cart-single-product {
    display: flex;
    flex-direction: row;
    margin:10px 0;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px;
}

.cart-single-product p {
    display: block;
    padding:10px;
    margin:5px;
}

.cart-single-product img{
    width:15%;
}

.trash,
.adjust-products img {
    height: 30px;
    width: 30px;
}

.adjust-products {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.adjust-products p{
    padding: 2px;
    margin: 0;

}


.checkout h2 {border-bottom: solid 3px;}

.shipping-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.shipping-fields input {
    font-size: 1.2rem;
}

.shipping-fields input:hover,
.payment-method label:hover {
    cursor: pointer;
}

.shipping-fields-adress {
    grid-column: 1 / 3;
}
.shipping input {
    width: 100%;
}
.shipping label {
    display: block;
}

.payment-method {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.payment-method img {
    display:inline-block;
    padding: 5px;
    margin: 5px;
}

#visa,
#master-card,
#paypal,
#payu {
    display: none;
}

#visa:checked ~ .visa img,
#master-card:checked ~ .master-card img,
#paypal:checked ~ .paypal img,
#payu:checked ~ .payu img {
border:solid 3px var(--blue-green);
border-radius: 5px;
}



/* Media Queries
-------------------------------------------------------------------*/
@media (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome-womens,
    .welcome-mens {
        min-height: 450px;
    }
    .contact-form input {
        width: 90%;
    }

    .contact-form textarea {
        width: 90%;
    }

    .contact-form .cta {
        width: 45%;
    }

    .about-middle {
        padding: 10px 50px;
    }

}



@media (max-width: 950px) {
    main {
        width:80%;
        padding-top: 155px;
    }

    header {
        grid-template-columns: repeat(1, auto);
        font-size: 1rem;
    }
    .logo-header {
        grid-column: 1 / 2;
        justify-self: center;
    }

    .logo-header-image {
        height: 46px;
        width: 110px;
        padding:10px 10px 0;
    }

    nav {
        grid-column: 1 / 2;
        justify-self: center;
    }

    nav a {
        padding: 10px 30px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-info-form {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .contact-form input {
        width: 100%;
    }

    .contact-form textarea {
        width: 100%;
    }

    .contact-form .cta {
        width: 50%;
    }
    .about-up,
    .about-bottom {
        grid-template-columns: 1fr;
    }
    .checkout-succesfull {
        margin: 250px 0;
    }

    .product-page {
        grid-template-columns: 1fr;
    }
    .product-page img {
        justify-self: center;
        width:70%;
    }
    .shipping,
    .payment {
        grid-column: 1 / 3;
    }



}


@media (max-width: 800px) {

    main {
        width:80%;
        padding-top: 155px;
    }

    footer div img {
        display: block;
        padding: 5px;
        margin: 5px;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .welcome {
        grid-template-columns: 1fr;
    }

    .welcome-buy-now {
        grid-column: 1 / 2;

}
    .welcome h1 {
    font-size: 2rem;
    }

    .welcome p {
        font-size: 1.2rem;
    }

    .welcome-womens,
    .welcome-mens {
        min-height: 400px;
    }

    .cart-single-product {
        flex-wrap: wrap;
    }
    
    .trash,
    .adjust-products img {
    height: 24px;
    width: 24px;
}


}

@media (max-width: 650px) {

    main {
        width: 90%;
        padding-top: 100px;
    }

    footer {
        display: none;
    }

    nav {
        display:none;
    }

    #menu-checkbox:checked ~ nav {
        display: block;
        justify-self: start;
    }

    nav a {
        display:block;
    }

    .hamburger-icon {
        display:inline-block;
        padding: 20px;
    }

    header {
        grid-template-columns: repeat(2, auto);
    }

    .logo-header {
        grid-column: 2 / 3;
        justify-self: end;
    }

    .logo-header-image {
        height: 46px;
        width: 110px;
        padding:10px 20px 0;
    }

    .welcome-buy-now-cta {
        padding: 10px 50px;
    }

    .back-to-top {
        display: block;
        text-align: center;
        color:var(--blue-green);
    }

    .back-to-top img {
        height: 40px;
    }

    .contact {
        padding: 20px;
        margin: 0;
    }

    .about-middle {
        font-size: 28px;
        line-height: 35px;
        padding: 0 30px;
    }

    .cart {
        gap: 25px;
    }

    .checkout-succesfull {
        margin-top:200px;
    }

}
