/* General styling - apply all pages */

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    color: #0A0D0C;
}

a {
    text-decoration: none;
    color: #0A0D0C;
}

ul {
    list-style-type: none;
}

.price {
    font-weight: bold;
 }
 
 h1 {
    font-size: 1.95rem;
    font-weight: 400;
 }

/* Header */

header li {
    display: inline-block;
}

header {
    background-color: #F5F5F5;
    font-weight: 300;
    font-size: 1.25rem;
}

/* footer */

footer,
footer a {
    color: #293940 ;
    background-color:  #F5F5F5;
    font-weight: 400;
    font-size: 0.8rem;
}

.copyright {
    font-family:'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Styling of homepage */

.welcome a,
.follow,
.contact-info {
    color: #0A0D0C;
}
.welcome h1 {
    font-family:'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight:700;
}

.welcome p {
    font-family:'Open Sans', sans-serif;
    font-size: 1.95rem;
    font-weight:700;
}

.welcome a {
    font-size: 1.25rem;
    font-variant-caps: small-caps;
}
 .featured h1 {
    background-color: #F5F5F5;
    font-variant-caps: all-small-caps;
    font-size: 1.56rem;  
 }
/* Styling of single product page */

 .size,
 .filter {
    color: #293940;
    background-color: #F5F5F5;
}
/* Styling of about us page */

.about-middle {
    color: #293940;
    text-align: center;
}

.about-up,
.about-bottom,
.contact {
    background-color: #F5F5F5;
}

/* Styling of contac us page */

.social-media {
    color: #293940;
}



/* Styling of checkout successfull page */

.payment-successfull {
    background-color: #F5F5F5;
    color: #0A0D0C;
    text-align: center;
}

/* Styling of checkout page */
.cta { 
    color: #fff;
    background-color: #293940;
    border-radius: 3px;
}

.cart,
.shipping-payment {
    background-color: #F5F5F5;
    color: #0A0D0C;
}
