/* General styling - apply all pages */

main { 
    color: #0A0D0C;
}

a {
    text-decoration: none;
    color: #0A0D0C;
}

ul {
    list-style-type: none;
}


header li {
    display: inline-block;
}

header, 
header a {
    color: #0A0D0C;
    background-color: #F5F5F5 ;
}

.price {
    font-weight: bold;
 }

/* Styling of homepage */

footer,
footer a {
    color: #293940 ;
    background-color:  #F5F5F5;
}
.welcome a,
.follow,
.contact-info {
    color: #0A0D0C;
}


 .featured h1 {
    background-color: #F5F5F5;  
 }
/* Styling of single product page */

 .size,
 .filter {
    color: #293940;
    background-color: #F5F5F5;
}
/* Styling of about us page */

.about-middle {
    color: #293940;
    text-align: center;
}

.about-up,
.about-bottom,
.contact {
    background-color: #F5F5F5;
}

/* Styling of contac us page */

.social-media {
    color: #293940;
}

/* Styling of checkout successfull page */

.payment-successfull {
    background-color: #F5F5F5;
    color: #0A0D0C;
    text-align: center;
}

/* Styling of checkout page */
.cta { 
    color: #fff;
    background-color: #293940;
    border-radius: 3px;
}

.cart,
.shipping-payment {
    background-color: #F5F5F5;
    color: #0A0D0C;
}
